      body {
        background-color: #F6F6F6;
      }
      .labelUser {
        position: relative;
      }

      .labelUser:before {
        content: "";
        position: absolute;
        left: 4px;
        top: 0;
        bottom: 0;
        width: 25px;
        background: url("images/user.svg") center / contain no-repeat;
      }

      .labelPassword {
        position: relative;
      }

      .labelPassword:before {
        content: "";
        position: absolute;
        left: 4px;
        top: 0;
        bottom: 0;
        width: 25px;
        background: url("images/password.svg") center / contain no-repeat;
      }

      input {
        text-indent: 18px;
      }
      .content {
        margin-top:auto;
        margin-bottom:auto;
        text-align:center;
      }
      .btn-kc{
        font-size: 1.2em;
        color:#FFF;
        background-color: #FF7F00;
        width:22em;
        border-radius: 25px;
      }
      .brounded{
        border-radius: 25px;
        width: 25em;
      }
  	  .checkbox{
	   	  margin-top:auto;
        margin-bottom:auto;
        text-align:left;
		    padding-right: 15em;
	    }

  	  .disableOpaque{
	   		pointer-events:none;
		  	opacity:0.4;
      }

      .logoClass{
        margin-top:170px;
        margin-bottom:1px;
      }
      
      .welcome{
        font-size: 1.1em;
        font-weight: bold;
      }

      .welcomeDiv{
        margin-top: -25px;
      }

      .please{
        margin-top:auto;
        margin-bottom:auto;
        font-size: 1em;
        margin-top: -18px;
        margin-bottom: 50px;
        padding-right: 13em;
      }

      .hide{
        display:none;
      }

      #passwordWrong{
        font-size: 1.1em;
        font-weight: bold;
        color:#B90000; 
      }